@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --desuratedRed: hsl(0, 36%, 70%);
  --softRed: hsl(0, 93%, 68%);
  --darkGrayishRed: hsl(0, 6%, 24%);
  --grayishRed: hsla(0, 44%, 60%, 0.251);
  --gradient1From: hsl(0, 0%, 100%);
  --gradient1To: hsl(0, 100%, 98%);
  --gradient2From: hsl(0, 80%, 86%);
  --gradient2To: hsl(0, 74%, 74%);
  --fontSize: 1rem;
  --p1: 300;
  --p2: 400;
  --p3: 600;
  --fontFamily: "Josefin Sans", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: var(--fontFamily);
  box-sizing: border-box;
}
