@media only screen and (max-width: 60rem) {
  body {
    width: 37.5rem;
    height: 85rem;
    background: linear-gradient(
      150deg,
      var(--gradient1From) 0%,
      var(--gradient1To) 100%
    );
    background-blend-mode: normal;
    display: block;
  }

  #main-container {
    width: 37.5rem;
    height: 80rem;
    display: grid;
    grid-template-rows: 8.4rem 25rem 46.6rem 5rem;
    grid-template-columns: 37.5rem;
    grid-template-areas:
      "header"
      "bit-map"
      "main"
      "footer";
    position: relative;
    background: linear-gradient(150deg, #ffffff 0%, #fff4f4 100%);
    background-blend-mode: normal;
  }

  #header {
    grid-area: "header";
  }

  #header img {
    top: 3.1rem;
    left: 3.2rem;
    width: 10rem;
    height: 2.4rem;
  }

  #bit-map {
    background: url(./images/hero-mobile.jpg) no-repeat;
  }

  #main {
    grid-area: "main";
    width: 31.1rem;
    height: 31rem;
    position: relative;
    top: 6.4rem;
    left: 3.2rem;
  }

  #footer {
    grid-area: "footer";
  }

  .heading {
    width: 31.1rem;
    height: 12.6rem;
    margin-bottom: 1.6rem;
  }

  .heading h1 {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1.8rem;
  }

  .heading h1 span {
    font-size: 4rem;
    letter-spacing: 1.8rem;
  }

  .text {
    width: 31.1rem;
    height: 8.8rem;
    margin-bottom: 3.2rem;
  }

  .text p {
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
  }

  .form {
    width: 31.1rem;
    height: 4.8rem;
  }

  .email {
    width: 31.1rem;
    height: 4.8rem;
    font-size: 1.4rem;
  }

  .error {
    right: 7.5rem;
  }

  .submit {
    left: calc(100% - 6.5rem);
    width: 6.4rem;
    height: 4.8rem;
  }

  .error-txt {
    position: relative;
    margin-top: 0.4rem;
    margin-left: 2.4rem;
    width: 16.5rem;
    height: 1.3rem;
  }
}
